---
layout: default
make-smaller-titles: true
---

<div class="container-fluid index">
    <div class="row">
        <div class="col-md-12 main content-panel">
            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>
            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>
            <div class="author-text">
                {{ site.title_description }}
            </div>
            {% include social_links.html %}
        </div>

        <div class="col-md-12 main nav-panel">
            <center>
                <a data-scroll href="#about_me">About Me</a> |
                <a data-scroll href="#education">Education</a> |
                <a data-scroll href="#experience">Experience</a> |
                <a data-scroll href="#projects">Projects</a> |
                <a data-scroll href="#volunteering">Volunteering</a> |
                <a data-scroll href="#recent_posts">Recent Posts</a>
            </center>
        </div>

        <div class="col-md-12 main content-panel">
            <a class="anchor" id="about_me"></a>
            {% include about.html %}
        </div>

        <div class="col-md-12 main content-panel">
            <a class="anchor" id="education"></a>
            {% include education.html %}
        </div>

        <div class="col-md-12 main content-panel">
            <a class="anchor" id="experience"></a>
            {% include experience.html %}
        </div>

        <div class="col-md-12 main content-panel">
            <a class="anchor" id="projects"></a>
            {% include projects.html %}
        </div>

        <div class="col-md-12 main content-panel">
            <a class="anchor" id="volunteering"></a>
            {% include volunteering.html %}
        </div>

        <div class="col-md-12 main content-panel">
            <a class="anchor" id="recent_posts"></a>
            <div class="articles">
            <h2>Recent Posts</h2>
            <ul>
                {% for post in site.posts limit: site.post_limit %}
                    <li>
                        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                    </li>
                {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/posts-by-categories/">more...</a></i></small>
                  </li>
              </ul>
            </div>
        </div>

    </div>
</div>

<script src="js/smooth-scroll.polyfills.min.js"></script>

<script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>

