<div class="articles">
    <h2>About Me</h2>
</div>

<img src="images/about.png" width="100%"
style="margin-bottom: 20px">
I'm Julie, and I was born and raised in <strong>Los Angeles</strong>. Though California is my home, I'm currently enjoying the east coast as a third-year <strong>Computer Science Engineering</strong> student at <strong>Princeton University</strong>, where I discovered the seemingly boundless possibilities of programming.
<br/>
<br/>
In addition to my coursework, I have been involved in the Computer Science community at Princeton as an <strong>Undergraduate Course Assistant</strong> for the COS department. During my sophomore summer, I created my first <strong>Android app</strong> through <strong>Facebook's</strong> FBU internship program. Next summer, I will be returning to Facebook as a 12-week <strong>Software Engineering Intern</strong>.
<br/>
<br/>
Despite my deep interests in STEM, I have never lost touch with my artistic side. If you catch me when I'm not coding, I'm probably <strong>painting</strong>!