<div class="articles">
    <h2>Education</h2>
</div>

<table class="borderless" style="margin-top: -30px">
    <tr>
        <td class="borderless" style="vertical-align: text-top;">
            <img src="princeton_logo.png" width="100%" style="margin-top: 20px;
                padding-right: 10px">
        </td>
        <td class="borderless">
            <h2>Princeton University</h2>
            <br/>
            Bachelor of Science in Engineering, Computer Science
            <br/>
            <em><small>September 2017 to June 2021</small></em>
            <br/>
        </td>
    </tr>
    <tr>
        <td class="borderless" style="vertical-align: text-top;">
            <img src="sj_logo.png" width="100%" style="margin-top: 20px;
            padding-right: 10px;">
        </td>
        <td class="borderless">
            <h2>Saint Joseph High School</h2>
            <br/>
            <em><small>September 2017 to June 2021</small></em>
            <br/>
        </td>
    </tr>
</table>