<div class="articles">
    <h2>Education</h2>
</div>

<table class="borderless" style="margin-top: -16px">
    <col width="24%">
    <tr>
        <td class="borderless" style="vertical-align: text-top;">
            <img src="images/princeton_logo.png" width="100%" style="padding-right: 10px;
                margin-top: 15px">
        </td>
        <td class="borderless">
            <h2 style="margin-bottom: -20px;">
                Princeton University</h2>
            <br/>
            <strong>Bachelor of Science in Engineering, Computer Science</strong>
            <br/>
            <em><small>
                September 2017 to June 2021</small></em>
            <br/>
            Coursework:
            <ul style="list-style-type: disc">
                <li><em>Computer Science: An Interdisciplinary Approach</em></li>
                <li><em>Algorithms and Data Structures</em></li>
                <li><em>Introduction to Programming Systems</em></li>
                <li><em>Reasoning About Computation</em></li>
                <li><em>Compiling Techniques</em></li>
                <li><em>Theory of Algorithms</em></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td class="borderless" style="vertical-align: text-top;">
            <img src="images/sj_logo.png" width="100%" style="padding-right: 10px;
                margin-top: 20px">
        </td>
        <td class="borderless">
            <h2 style="margin-bottom: -20px;">
                Saint Joseph High School</h2>
            <br/>
            Lakewood, CA
            <br/>
            <em><small>August 2013 to May 2017</small></em>
            <br/>
            <ul style="list-style-type: disc">
                <li>Valedictorian of Distinction</li>
                <li>National AP Scholar</li>
            </ul>
        </td>
    </tr>
</table>