<div class="articles">
    <h2>Experience</h2>
</div>

<table class="borderless" style="margin-top: -16px">
    <col width="24%">
    <tr>
        <td class="borderless" style="vertical-align: text-top;">
            <img src="images/princeton_cs_logo.png" width="100%" style="
                margin-top: 15px">
        </td>
        <td class="borderless" style="padding-left: 15px">
            <h2 style="margin-bottom: -20px;">
                Undergraduate Course Assistant</h2>
            <br/>
            <strong>Princeton Computer Science Department</strong>
            <br/>
            <em><small>February 2018 to Present</small></em>
            <br/>
            Three semesters of experience grading assignments, projects,
            and exams.
            <ul style="list-style-type: disc">
                <li>Attend weekly meetings with course instructors</li>
                <li>Provide constructive feedback on the accuracy and quality of students’
                    code</li>
            </ul>
            Courses:
            <ul style="list-style-type: circle">
                <li><em>Computer Science: An Interdisciplinary Approach</em></li>
                <li><em>Algorithms and Data Structures</em></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td class="borderless" style="vertical-align: text-top;">
            <img src="images/algorithms.png" width="100%" style="
                margin-top: 15px">
        </td>
            <td class="borderless" style="padding-left: 15px">
                <h2 style="margin-bottom: -20px;">
                    Table Leader</h2>
                <br/>
                <strong><em>Algorithms and Data Structures</em></strong>
                <br/>
                <em><small>February 2019 to Present</small></em>
                <br/>
                One of the few head Undergraduate Course Assistants for Princeton's
                <em>Algorithms and Data Structures</em> course.
                <ul style="list-style-type: disc">
                    <li>Edit assignment rubrics alongside instructors prior to
                        grading meetings
                    </li>
                    <li>Supervise course assistants during grading meetings</li>
                    <li>Double-check all graded assignments before release</li>
                </ul>
            </td>
        </tr>
</table>
<h2 style="margin-bottom: 5px">Languages</h2>

<table class="borderless">
    <tr>
        <td class="borderless" width="10%">
            <strong>Fluent</strong>
        </td>
        <td class="borderless" width="10%">
            <img src="images/java_logo.png" width="100%">
        </td>
        <td class="borderless" width="20%">
            <img src="images/c_language_logo.png" width="100%">
        </td>
    </tr>
    <tr>
        <td class="borderless" width="10%">
            <strong>Proficient</strong>
        </td>
        <td class="borderless" width="10%">
            <img src="images/ocaml_logo.png" width="100%">
        </td>
        <td class="borderless" width="20%">
            <img src="images/c_sharp_logo.png" width="100%">
        </td>
    </tr>
    <tr>
        <td class="borderless" width="10%">
                <strong>Familiar</strong>
        </td>
        <td class="borderless" width="20%">
            <img src="images/go_logo.png" width="100%">
        </td>
        <td class="borderless" width="20%">
            <img src="images/html_logo.png" width="100%">
        </td>
        <td class="borderless" width="20%">
            <img src="images/css_logo.png" width="100%">
        </td>
        </tr>
</table>