<div class="news">
  {% if page.title == "about" %}
  {% assign lim = site.news_limit %}
  <h2>News</h2>
  {% else %}
  {% assign lim = 100 %}
  {% endif %}
  {% if site.news  %}
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
      {% assign news = site.news | reverse %}
      {% for item in news limit: lim %}
      <tr>
        <th scope="row">
          <div class="badge">{{ item.date | date: "%b %-d, %Y" }}</div>
        </th>
        <td>
          {% if item.inline %}
          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {% else %}
          <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <p>No news so far...</p>
  {% endif %}
</div>