<div class="articles">
    <h2>Art Portfolio</h2>
</div>

<section id="photos">
    <a href="images/gallery/danger.jpg" data-lightbox="mygallery" data-title="Danger">
        <img src="images/gallery/danger_small.jpg" alt="Danger">
    </a>
    <a href="images/gallery/kurt_cobain.jpg" data-lightbox="mygallery">
        <img src="images/gallery/kurt_cobain_small.jpg" alt="Kurt Cobain">
    </a>
    <a href="images/gallery/x-men.jpg" data-lightbox="mygallery">
        <img src="images/gallery/x-men_small.jpg" alt="X-Men">
    </a>
    <a href="images/gallery/poo.png" data-lightbox="mygallery">
        <img src="images/gallery/poo_small.png" alt="SJ 2017 Class Sweatshirt">
    </a>
    <a href="images/gallery/abstract_watercolor.jpg" data-lightbox="mygallery">
        <img src="images/gallery/abstract_watercolor_small.jpg" alt="Abstract Watercolor">
    </a>
</section>
