<div class="articles">
    <h2>Art Portfolio</h2>
</div>

<section id="photos">
    <a href="images/gallery/danger.jpg" data-lightbox="mygallery"
    data-title="<em>The Danger</em>.
    Acrylic paint on 16&quot; by 12&quot; canvas. July 25, 2018.">
        <img src="images/gallery/danger_small.jpg" alt="Danger">
    </a>
    <a href="images/gallery/kurt_cobain.jpg" data-lightbox="mygallery"
    data-title="<em>Kurt Cobain</em>.
    Watercolor on 24&quot; by 24&quot; canvas. June 26, 2016.">
        <img src="images/gallery/kurt_cobain_small.jpg" alt="Kurt Cobain">
    </a>
    <a href="images/gallery/x-men.jpg" data-lightbox="mygallery"
    data-title="<em>X-Men</em>.
    Graphite pencil on 12&quot; by 16&quot; drawing paper. July 6, 2016.">
        <img src="images/gallery/x-men_small.jpg" alt="X-Men">
    </a>
    <a href="images/gallery/poo.png" data-lightbox="mygallery"
    data-title="<em>SJ 2017 Class Sweatshirt Design</em>.
    Prismacolor marker on 8 1/2&quot; by 11&quot; drawing paper. September 15, 2016.">
        <img src="images/gallery/poo_small.png" alt="SJ 2017 Class Sweatshirt">
    </a>
    <a href="images/gallery/abstract_watercolor.jpg" data-lightbox="mygallery"
    data-title="<em>Watercolor Abstract</em>.
    Watercolor on 7&quot; by 7&quot; watercolor paper. March 2014.">
        <img src="images/gallery/abstract_watercolor_small.jpg" alt="Abstract Watercolor">
    </a>
    <a href="images/gallery/link_acrylic.jpg" data-lightbox="mygallery"
    data-title="<em>Acrylic Link</em>.
    Acrylic paint on 12&quot; by 18&quot; drawing paper. December 24, 2014.">
        <img src="images/gallery/link_acrylic_small.jpg" alt="Link Acrylic">
    </a>
    <a href="images/gallery/still_life_pencils.jpg" data-lightbox="mygallery"
    data-title="<em>Still Life with Pencils</em>.
    Graphite pencil on drawing paper. November 2013.">
        <img src="images/gallery/still_life_pencils_small.jpg" alt="Still Life with Pencils">
    </a>
    <a href="images/gallery/zelda_pencils.jpg" data-lightbox="mygallery"
    data-title="<em>Zelda in Colored Pencils</em>.
    Colored pencils on 8 1/2&quot; by 11&quot; parchment paper. December 2013.">
        <img src="images/gallery/zelda_pencils_small.jpg" alt="Zelda with Colored Pencils">
    </a>
    <a href="images/gallery/sonic.jpg" data-lightbox="mygallery"
    data-title="<em>Sonic Bookmark</em>.
    Sharpie markers and colored pencils on printer paper. June 12, 2012.">
        <img src="images/gallery/sonic_small.jpg" alt="Sonic">
    </a>
    <a href="images/gallery/still_life_pastels.jpeg" data-lightbox="mygallery"
    data-title="<em>Still Life with Pastels</em>.
    Pastels on drawing paper. April 2014.">
        <img src="images/gallery/still_life_pastels_small.jpeg" alt="Still Life with Pastels">
    </a>
    <a href="images/gallery/link_pencils.jpg" data-lightbox="mygallery"
    data-title="<em>Link in Colored Pencils</em>.
    Colored pencils on 8 1/2&quot; by 11&quot; parchment paper. December 2013.">
        <img src="images/gallery/link_pencils_small.jpg" alt="Link with Pencils">
    </a>
    <a href="images/gallery/metroid.jpg" data-lightbox="mygallery"
    data-title="<em>Metroid Sculpture</em>.
    Polymer clay and plastic, colored with acrylic paint and sharpie markers. June 14, 2015.">
        <img src="images/gallery/metroid_small.jpg" alt="Still Life with Pastels">
    </a>
</section>
