<div class="news">
  {% if page.title == "About" %}
  <h2>Press/Media Coverage 🌍</h2>
  {%- endif %}
  {% if site.press != blank -%}
  {%- assign press_size = site.press | size -%}
  <div class="table-responsive" {% if site.press_scrollable and press_size > 3 %}style="max-height: 10vw" {% endif %}>
    <table class="table table-sm table-borderless">
      {%- assign press = site.press | reverse -%}
      {% if site.press_limit and page.title == "About" %}
      {% assign press_limit = site.press_limit %}
      {% else %}
      {% assign press_limit = press_size %}
      {% endif %}
      {% for item in press limit: press_limit %}
      <tr>
        <th scope="row">
          <div class="badge">{{ item.date | date: "%b %-d, %Y" }}</div>
        </th>
        <td>
          {% if item.inline -%}
          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {%- else -%}
          <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </table>
  </div>
  {%- else -%}
  <p>No press so far...</p>
  {%- endif %}
</div>