<div class="articles">
    <h2>Projects</h2>
</div>

<h2 style="text-align:center">Maze Adventures</h2>

<table class="borderless">
    <tbody>
      <tr>
        <td rowspan="3" colspan="2">
            <a href="https://juliekallini.com/projects/2018/07/20/maze-adventures/">
                <img src='images/walkthrough1.gif' title='Maze Adventures'
                    style="text-align:center"
                    width='100%' alt='Maze Adventures'/>
            </a>
        </td>
        <td>
            <img src="images/key.png" width="60px" class="center">
        </td>
      </tr>
      <tr>
        <td class="borderless">
            <img src="images/heart.png" width="50px" class="center">
        </td>
      </tr>
      <tr>
        <td class="borderless">
            <img src="images/fire_enemy.png" width="80px" class="center"
                style="margin-left: 5px">
        </td>
    </tr>
    </tbody>
  </table>
