<div class="articles">
    <h2>Volunteering</h2>
</div>

<h2 style="text-align:center; margin-bottom: 2px">Yimas Language Wikipedia Page</h2>

<p style="text-align:center"><em><small>February 2019 to May 2019</small></em></p>

I studied the endangered <strong>Yimas language</strong> of Papua New Guinea and
contributed my research to its Wikipedia page, transforming it from a short stub article
to a complete encyclopedia entry. My responsibilities included:

<ul style="list-style-type: disc">
    <li>Participating in a month-long training process to learn Wikipedia's article review
        and copyright protocols
    </li>
    <li>Researching the Yimas language and writing sections about its phonology, morphology, and syntax</li>
    <li>Verifying the accuracy and citations of any preexisting content on the page</li>
</ul>

<p style="text-align:center; font-size: 16px">
    <a href="https://en.wikipedia.org/wiki/Yimas_language">
        Read on Wikipedia...
    </a>
</p>

<div class="overlay-image">
    <a href="https://en.wikipedia.org/wiki/Yimas_language">
        <img class="image" src='images/yimas_wiki.png' alt="Yimas Language" />
        <div class="hover">
        <div class="text">Read on Wikipedia</div>
        </div>
    </a>
</div>

<br/>