---
---
<!-- _layouts/bib.html -->
      {%- assign display_preview = entry._preview -%}
      {%- assign display_abbr = entry._abbr -%}
      {%- assign display_title = entry._title | default: entry.title -%}
      {%- assign display_arxiv = entry._arxiv -%}
      {%- assign display_pdf = entry._pdf -%}
      {%- assign display_url = entry._url | default: entry.url -%}
      {%- assign display_abstract = entry._abstract -%}
      {%- assign show_bibtex = entry._bibtex_show -%}
      {%- assign display_html = entry._html -%}
      {%- assign display_supp = entry._supp -%}
      {%- assign display_blog = entry._blog -%}
      {%- assign display_code = entry._code -%}
      {%- assign display_poster = entry._poster -%}
      {%- assign display_slides = entry._slides -%}
      {%- assign display_website = entry._website -%}
      {%- assign display_tweet = entry._tweet -%}
      {%- assign display_award = entry._award -%}
      <div class="row">
        <div class="col-sm-2 {% if display_preview %}preview{% else %}abbr{% endif %}">
        {%- if display_preview -%}
          {% if display_preview contains '://' -%}
          <img class="preview z-depth-1 rounded" src="{{ display_preview }}">
          {%- else -%}
          <img class="preview z-depth-1 rounded" src="{{ display_preview | prepend: '/assets/img/publication_preview/' | relative_url }}">
          {%- endif -%}
        {%- elsif display_abbr -%}
          {%- if site.data.venues[display_abbr] -%}
          <abbr class="badge"><a href="{{site.data.venues[display_abbr].url}}">{{display_abbr}}</a></abbr>
          {%- else -%}
          <abbr class="badge">{{display_abbr}}</abbr>
          {%- endif -%}
        {%- endif -%}
        </div>

        <!-- Entry bib key -->
        <div id="{{entry.key}}" class="col-sm-8">
        {% if entry.type == "thesis" -%}
          {{reference}}
        {%- else %}
          <!-- Title -->
          <div class="title">
            <a href="{% if display_arxiv %}http://arxiv.org/abs/{{ display_arxiv }}{% elsif display_pdf %}{{ display_pdf }}{% else %}{{ display_url }}{% endif %}">{{ display_title }}</a>
          </div>
          <!-- Author -->
          <div class="author">
            {%- if entry._author -%}
              {{ entry._author }}
            {%- else -%}
            {% assign author_array_size = entry.author_array | size %}

            {%- if site.max_author_limit and author_array_size > site.max_author_limit %}
              {% assign author_array_limit = site.max_author_limit %}
            {% else %}
              {% assign author_array_limit = author_array_size %}
            {% endif %}
            {% assign more_authors = author_array_size | minus: author_array_limit %}
            
            {%- for author in entry.author_array limit: author_array_limit -%}
              {%- assign author_is_self = false -%}
              {%- if author.last == site.scholar.last_name and site.scholar.first_name contains author.first -%}
                {%- assign author_is_self = true -%}
              {%- endif -%}
            
              {%- assign coauthor_url = nil -%}
              {%- if site.data.coauthors[author.last] -%}
                {%- for coauthor in site.data.coauthors[author.last] %}
                  {%- if coauthor.firstname contains author.first -%}
                    {%- assign coauthor_url = coauthor.url -%}
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
            
              {%- if forloop.index > 1 %}
                {%- if author_array_size == 2 and more_authors == 0 -%}
                &nbsp;and&nbsp; 
                {%- elsif forloop.last and more_authors == 0 -%}
                  , and&nbsp;
                {%- else -%}
                  ,&nbsp;
                {%- endif -%}
              {%- endif -%}
            
              {%- if author_is_self -%}
                <strong>{{author.first}} {{author.last}}</strong>
              {%- else %}
                {%- if coauthor_url -%}
                  <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
                {%- else -%}
                  {{author.first}} {{author.last}}
                {%- endif -%}
              {%- endif -%}
            
            {%- endfor -%}

          {%- if more_authors > 0 -%}
            {%- assign more_authors_label = more_authors | append: " more author" -%}
            {%- if more_authors > 1 -%}
              {%- assign more_authors_label = more_authors_label | append: "s" -%}
            {%- endif -%}
            {%- assign more_authors_hide = ", and&nbsp;" | append: more_authors_label -%}
            {%- assign more_authors_show = '' -%}
            {%- for author in entry.author_array offset: author_array_limit -%}
              {%- if forloop.index == 1 -%}
                {%- assign more_authors_show = more_authors_show | append: ",&nbsp;" -%}
              {%- elsif forloop.last -%}
                {%- assign more_authors_show = more_authors_show | append: ", and&nbsp;" -%}
              {%- else -%}
                {%- assign more_authors_show = more_authors_show | append: ",&nbsp;" -%}
              {%- endif -%}
              {%- assign more_authors_show = more_authors_show | append: author.first | append: " " | append: author.last -%}
            {%- endfor -%}
            <span
                class="more-authors"
                title="click to view {{more_authors_label}}"
                data-expanded="false"
                onclick="
                  var element = $(this);
                  element.attr('title', '');
                  var expanded = element.attr('data-expanded') == 'true';
                  var more_authors_text = expanded ? '{{more_authors_hide}}' : '{{more_authors_show}}';
                  element.attr('data-expanded', expanded ? 'false' : 'true');
                  var cursorPosition = 0;
                  var textAdder = setInterval(function(){
                    element.text(more_authors_text.substring(0, cursorPosition + 1));
                    if (++cursorPosition == more_authors_text.length){
                      clearInterval(textAdder);
                    }
                  }, 15);
                "
            >{{more_authors_hide}}</span>
          {% endif %}
            {%- endif -%}

          </div>
          {%- if entry._contribution_title and entry._contribution_authors %}
          <div class="contribution">
            <span class="contribution-title">{{ entry._contribution_title }}</span>
            <span class="contribution-authors">
              {%- assign contribution_authors = entry._contribution_authors | split: " and " -%}
              {%- for contribution_author in contribution_authors -%}
                {%- if forloop.index > 1 -%}
                  {%- if contribution_authors.size == 2 -%}
                    &nbsp;and&nbsp;
                  {%- elsif forloop.last -%}
                    , and&nbsp;
                  {%- else -%}
                    ,&nbsp;
                  {%- endif -%}
                {%- endif -%}
                {%- if contribution_author == "Julie Kallini" -%}
                  <strong>{{ contribution_author }}</strong>
                {%- else -%}
                  {{ contribution_author }}
                {%- endif -%}
              {%- endfor -%}
            </span>
          </div>
          {%- endif %}

          <!-- Journal/Book title and date -->
          {% if entry.type == "article" -%}
            {%- capture entrytype -%}<em>{{entry.journal}},</em>{%- endcapture -%}
          {%- elsif entry.type == "inproceedings" -%}
            {%- capture entrytype -%}<em>In {{entry.booktitle}},</em> {%- endcapture -%}
          {%- else -%}
            {%- capture entrytype -%}{%- endcapture -%}
          {%- endif -%}
          {%- if entry.month -%}
            {%- capture entrymonth -%}{{ " " }}{{ entry.month | capitalize }}{%- endcapture -%}
          {%- endif -%}
          {%- if entry.year -%}
            {%- capture entryyear -%}{{ " " }}{{entry.year}}{%- endcapture -%}
          {%- endif -%}
          {%- capture periodical -%}{{ entrytype }}{{ entrymonth }}{{ entryyear }}{%- endcapture -%}
          <div class="periodical">
            {{ periodical | strip }}
          </div>
        {%- endif %}

          <div>
            {%- if display_award %}
            (<b style="color:#dc143c;">{{ display_award }}</b>)
            {%- endif %}
          </div>
        
          <!-- Links/Buttons -->
          <div class="links">
          {%- if display_abstract %}
            <a class="abstract btn btn-sm z-depth-0" role="button">Abs</a>
          {%- endif %}
          {%- if show_bibtex %}
            <a class="bibtex btn btn-sm z-depth-0" role="button">Bib</a>
          {%- endif %}
          {%- if display_arxiv %}
            <a href="http://arxiv.org/abs/{{ display_arxiv }}" class="btn btn-sm z-depth-0" role="button">arXiv</a>
          {%- endif %}
          {%- if display_html %}
            <a href="{{ display_html }}" class="btn btn-sm z-depth-0" role="button">HTML</a>
          {%- endif %}
          {%- if display_pdf %}
            {% if display_pdf contains '://' -%}
            <a href="{{ display_pdf }}" class="btn btn-sm z-depth-0" role="button">PDF</a>
            {%- else -%}
            <a href="{{ display_pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">PDF</a>
            {%- endif %}
          {%- endif %}
          {%- if display_supp %}
            {% if display_supp contains '://' -%}
            <a href="{{ display_supp }}" class="btn btn-sm z-depth-0" role="button">Supp</a>
            {%- else -%}
            <a href="{{ display_supp | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Supp</a>
            {%- endif %}
          {%- endif %}
          {%- if display_blog %}
            <a href="{{ display_blog }}" class="btn btn-sm z-depth-0" role="button">Blog</a>
          {%- endif %}
          {%- if display_code %}
            <a href="{{ display_code }}" class="btn btn-sm z-depth-0" role="button">Code</a>
          {%- endif %}
          {%- if display_poster %}
            {% if display_poster contains '://' -%}
            <a href="{{ display_poster }}" class="btn btn-sm z-depth-0" role="button">Poster</a>
            {%- else -%}
            <a href="{{ display_poster | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Poster</a>
            {%- endif %}
          {%- endif %}
          {%- if display_slides %}
            {% if display_slides contains '://' -%}
            <a href="{{ display_slides }}" class="btn btn-sm z-depth-0" role="button">Slides</a>
            {%- else -%}
            <a href="{{ display_slides | prepend: '/assets/pdf/' | relative_url }}" target="_blank" class="btn btn-sm z-depth-0" role="button">Slides</a>
            {%- endif %}
          {%- endif %}
          {%- if display_website %}
            <a href="{{ display_website }}" class="btn btn-sm z-depth-0" role="button">Website</a>
          {%- endif %}
          {%- if display_tweet %}
            <a href="{{ display_tweet }}" class="btn btn-sm z-depth-0" role="button">tweet</a>
          {%- endif %}
          </div>

          {% if display_abstract -%}
          <!-- Hidden abstract block -->
          <div class="abstract hidden">
            <p>{{ display_abstract }}</p>
          </div>
          {%- endif -%}

          {% if show_bibtex -%}
          <!-- Hidden bibtex block -->
          <div class="bibtex hidden">
            {% highlight bibtex %}{{ entry.bibtex | hideCustomBibtex }}{% endhighlight %}
          </div>
          {%- endif %}
        </div>
      </div>
